{% extends "base.html" %}

{% block title %}Historic Artworks{% endblock %}

{% block content %}
<div class="container mx-auto p-5">
    <h2 class="text-xl font-bold text-gray-800 mb-4">Historic Artworks</h2>
    <div class="grid grid-cols-3 gap-4">
        {% for artwork in artworks %}
        <div class="bg-white p-4 shadow rounded-lg">
            <h3 class="text-lg font-semibold">{{ artwork.painting_name }}</h3>
            <!-- Display the image, ensure the artist object exists -->
            {% if artwork.artist %}
            <p>Artist: <a href="{{ url_for('historic_artist_detail', artist_id=artwork.artist_id) }}" class="text-blue-500 hover:text-blue-700">{{ artwork.artist.full_name }}</a></p>
            <img src="{{ url_for('static', filename='images/images/' ~ artwork.artist.full_name ~ '/' ~ artwork.painting_name) }}" alt="{{ artwork.painting_name }}" style="max-width: 100%;">
            {% else %}
            <p>No artist information available</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
