<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Museum App</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="relative">
    <!-- Full background with overlay -->
    <div class="absolute inset-0 bg-cover bg-center bg-[url('./static/diogo-nunes-UPMZcirECVE-unsplash.jpg')]">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    </div>

    <!-- Content in the center -->
    <div class="relative min-h-screen flex flex-col justify-center items-center text-center text-white px-4">
        <h1 class="text-4xl font-bold mb-2">Welcome to the Museum App</h1>
        <p class="mb-6 text-lg">Explore the beauty and history of art from around the world.</p>
        <a href="{{ url_for('login') }}" class="text-lg bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded-full">Login</a>
        <a href="{{ url_for('signup') }}" class="mt-4 text-lg underline">Need an account? Sign up!</a>
    </div>

    <!-- Footer -->
    <footer class="absolute bottom-0 w-full text-center p-4 bg-gray-200 text-black">
        © 2024 Museum App. All rights reserved.
    </footer>
</body>
</html>
    