{% extends "base.html" %}

{% block title %}{{ artwork.painting_name }} - User Artwork Details{% endblock %}

{% block content %}
<div class="container mx-auto p-5">
    <h2 class="text-xl font-bold text-gray-800 mb-4">{{ artwork.painting_name }}</h2>
    {% if artwork.users_as_artist %}
    <p>Artist: <a href="{{ url_for('user_artist_detail', artist_user_id=artwork.artist_user_id) }}" class="text-blue-500 hover:text-blue-700">{{ artwork.users_as_artist.artist_name }}</a></p>
    {% endif %}
    {% if file_system_name %}
    <img src="{{ url_for('static', filename='user_images/' ~ file_system_name ~ '/' ~ artwork.painting_name) }}" alt="{{ artwork.painting_name }}" style="max-width: 100%;">
    {% endif %}
</div>
{% endblock %}
